.App-logo {
  pointer-events: none;
  color: #3bff00;
  position: relative;
  top: 5px;
  left: 2px;
}

header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* input {
  height: 35px;
  font-size: large;
  text-align: center;
  text-decoration: solid;
  border-radius: none;
  border: none;
  margin-right: 5px;
} */

input:focus {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  /* font-size: calc(10px + 2vmin); */
  color: #3bff00;
  height: 50px;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* font-size: 24px; */
  scrollbar-width: none;
}

h1 {
  color: #165a72;
  margin: 50px auto;
  font-size: 40px;
}
.menu1 {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 150px;
  
}
h2 {
  color: #165a72;
}
::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
html {overflow: -moz-scrollbars-none;}
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
  html{
    scrollbar-width: none;
  }
}
body {
  margin: 0; /* remove default margin */
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
  /* overflow-y: scroll; */
}
.app, body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

.css-1jlhf24.ps-rtl {
  direction: rtl;
  border-right-width: none;
  border-left-width: 0px;
  border-right-style: none;
  border-left-style: none;
}
.css-vj11vy.ps-menu-root{
  border: none
}
section {
  width: 80%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.css-1wvake5.ps-collapsed {
  width: 65px !important;
  min-width: 65px !important;
}
.css-1wvake5{
  width: 200px !important;
  min-width: 200px !important;
}
 .css-i4bv87-MuiSvgIcon-root {
  font-size: 1.3rem !important;
  margin-right: 15px !important;
 }
 .css-1wvake5.ps-active{
  background: black !important
 }
 .listContainer {
  width: 90%;
  margin: auto;
 }

 .list {
  display: flex;
  flex-wrap: wrap;
 }

 .list > li {
  width: 500px;
  background: green;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-radius: 20px;
  margin: 5px;
  color: wheat;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 }
 /* mobile view changes */
 @media only screen and (max-width: 600px) {
  .css-i4bv87-MuiSvgIcon-root {
    font-size: 1rem !important;
   }
   .menu1 {
    margin-bottom: 10px;
    margin-top: 0px

   }
   .css-1wvake5.ps-collapsed {
    width: 54px !important;
    min-width: 54px !important;
  }
  
}