.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  font-size: 40px;
  color: #3bff00;
  position: relative;
  top: 0px;
  left: 0px
}

.header-menu {
  font-size: 40px;
  color: #3bff00;
  height: 8vmin;
}

input {
  height: 35px;
  font-size: large;
  text-align: center;
  text-decoration: solid;
  border-radius: none;
  border: none
}

input:focus {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: raw;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
